<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>HADMHandlowcy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">


</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand h1" href="#">HADMHandlowcy</a>
</nav>
<div class="container">
    <form th:action="@{/registration}" method="post">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h3 class="form-heading text-center m-2">Stwórz konto</h3>

                <input type="text" class="form-control m-2" name="name" placeholder="Imię"
                       autofocus="autofocus" required="required"/>

                <input type="text" class="form-control m-2" name="surname" placeholder="Nazwisko" required="required"/>

                <input type="text" class="form-control m-2" name="username" placeholder="Nazwa Użytkownika" required="required"/>

                <input type="password" class="form-control m-2" name="password" placeholder="Hasło" required="required"/>

                <input type="password" class="form-control m-2" name="passwordConfirm" placeholder="Powtórz hasło" required="required"/>

                <input type="submit" class="btn btn-block m-2" value="Zarejestruj"/>
                <div th:if="${param.errorUser}">
                    <h6 class="text-center m-2">Ta nazwa użytkownika jest już zajęta</h6>
                </div>
                <div th:if="${param.errorPass}">
                    <h6 class="text-center m-2">Hasła nie pokrywają się</h6>
                </div>
                <h4 class="text-center m-2"><a href="/login">Zaloguj</a></h4>

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </form>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</body>
</html>